<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jetpack_08_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{93,75}</string>
                <key>spriteSourceSize</key>
                <string>{97,75}</string>
                <key>textureRect</key>
                <string>{{2,83},{93,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jetpack_08_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{86,68}</string>
                <key>spriteSourceSize</key>
                <string>{88,68}</string>
                <key>textureRect</key>
                <string>{{2,160},{86,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jetpack_08_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,8}</string>
                <key>spriteSize</key>
                <string>{52,48}</string>
                <key>spriteSourceSize</key>
                <string>{78,64}</string>
                <key>textureRect</key>
                <string>{{72,160},{52,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jetpack_08_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{97,79}</string>
                <key>spriteSourceSize</key>
                <string>{101,79}</string>
                <key>textureRect</key>
                <string>{{2,2},{97,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/jetpack_08-hd.png</string>
            <key>size</key>
            <string>{122,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fea9ce8d29cedc7ebcea4c28a7aef5a4:0d1f53de01d049ce6b57f0f817a7ba58:bd780250daee6514ba929fc4808edd28$</string>
            <key>textureFileName</key>
            <string>icons/jetpack_08-hd.png</string>
        </dict>
    </dict>
</plist>
