<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jetpack_06_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{87,73}</string>
                <key>spriteSourceSize</key>
                <string>{89,73}</string>
                <key>textureRect</key>
                <string>{{81,2},{87,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jetpack_06_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-7}</string>
                <key>spriteSize</key>
                <string>{76,54}</string>
                <key>spriteSourceSize</key>
                <string>{84,68}</string>
                <key>textureRect</key>
                <string>{{156,56},{76,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jetpack_06_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{82,52}</string>
                <key>spriteSourceSize</key>
                <string>{84,56}</string>
                <key>textureRect</key>
                <string>{{156,2},{82,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jetpack_06_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,77}</string>
                <key>spriteSourceSize</key>
                <string>{93,77}</string>
                <key>textureRect</key>
                <string>{{2,2},{93,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/jetpack_06-hd.png</string>
            <key>size</key>
            <string>{240,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80540be0719b965e9596d9197b1bdaa9:f64d675956c08f78fd068ba26c39feeb:3825bc6d61db4cb5fde71c3e7894d0b6$</string>
            <key>textureFileName</key>
            <string>icons/jetpack_06-hd.png</string>
        </dict>
    </dict>
</plist>
