<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jetpack_08_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,38}</string>
                <key>spriteSourceSize</key>
                <string>{49,38}</string>
                <key>textureRect</key>
                <string>{{55,2},{49,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jetpack_08_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,34}</string>
                <key>spriteSourceSize</key>
                <string>{44,34}</string>
                <key>textureRect</key>
                <string>{{106,2},{44,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jetpack_08_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{27,24}</string>
                <key>spriteSourceSize</key>
                <string>{39,32}</string>
                <key>textureRect</key>
                <string>{{152,2},{27,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jetpack_08_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,40}</string>
                <key>spriteSourceSize</key>
                <string>{51,40}</string>
                <key>textureRect</key>
                <string>{{2,2},{51,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/jetpack_08.png</string>
            <key>size</key>
            <string>{178,44}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fea9ce8d29cedc7ebcea4c28a7aef5a4:0d1f53de01d049ce6b57f0f817a7ba58:bd780250daee6514ba929fc4808edd28$</string>
            <key>textureFileName</key>
            <string>icons/jetpack_08.png</string>
        </dict>
    </dict>
</plist>
