<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jetpack_06_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,37}</string>
                <key>spriteSourceSize</key>
                <string>{45,37}</string>
                <key>textureRect</key>
                <string>{{43,2},{45,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jetpack_06_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{38,28}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{82,32},{38,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jetpack_06_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,28}</string>
                <key>spriteSourceSize</key>
                <string>{42,28}</string>
                <key>textureRect</key>
                <string>{{82,2},{42,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jetpack_06_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,39}</string>
                <key>spriteSourceSize</key>
                <string>{47,39}</string>
                <key>textureRect</key>
                <string>{{2,2},{47,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/jetpack_06.png</string>
            <key>size</key>
            <string>{126,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80540be0719b965e9596d9197b1bdaa9:f64d675956c08f78fd068ba26c39feeb:3825bc6d61db4cb5fde71c3e7894d0b6$</string>
            <key>textureFileName</key>
            <string>icons/jetpack_06.png</string>
        </dict>
    </dict>
</plist>
